<div class="row">
  <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
    <form (ngSubmit)="onSignup(f)" #f="ngForm">
      <div class="form-group">
        <label for="email">Mail</label>
        <input type="email" name="email" id="email" class="form-control" required email #email="ngModel" ngModel>
        <span class="help-block" *ngIf="!email.valid && email.touched">Please enter a valid email!</span>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" name="password" id="password" class="form-control" required minlength="6" #password="ngModel" ngModel>
        <span class="help-block" *ngIf="!password.valid && password.dirty">Password needs to be at least 6 characters long!</span>
      </div>
      <button type="submit" class="btn btn-primary" [disabled]="f.invalid">Sign Up</button>
    </form>
  </div>
</div>
